.sobre_nosotros {
    padding-top: 4rem;
    padding-bottom: 3rem;
    
}

.sobre_nosotros__titulo {
    color: var(--fuente-rosa);
    font-weight: 700;
    font-size: 1.75rem;
    font-family: var(--montserrat);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1.25rem;
}

.sobre_nosotros__texto {
    text-align: justify;
    text-justify: inter-word;
    /* text-justify: distribute; */
    line-height: normal;
    margin-bottom: 1.5rem;
    margin-right: 5rem;

}

.sobre_nosotros__plataformas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

.sobre-nosotros {
    color: var(--fuente-ceniza-oscuro);
    font-weight: 700;
}

.sobre_nosotros__imagen{
    display: block;
    width: 30em;
}


@media screen and (max-width: 380px) {
    .sobre_nosotros__contenido{
        display: flex;
        flex-wrap: wrap;
    }
    .sobre_nosotros__titulo{
        font-size: 2rem;
    }
    
    .sobre_nosotros__imagen{
        width: 100%;
    }
    
    


}


@media screen and (min-width: 1024px) {
    .sobre_nosotros {
        display: flex;
        background:linear-gradient(180deg,var(--azul-claro), var(--background-azul-claro), white);
        padding-top: 4rem;
        padding-left: 6rem;
        padding-right: 6rem;
        align-items: center;
    }
    .sobre_nosotros__contenido {
        margin-right: 3rem;
    }
    .sobre_nosotros__titulo {
        text-align: left;
    }
    .sobre_nosotros__texto--division {
        border-bottom: 1px solid var(--cinza-medio);
        padding-bottom: 1.5rem;
    }

    .sobre_nosotros__imagen {
        display: block;
        width: auto;
        height: 20em;
        border-radius: 1em;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    }
}


@media screen and (max-width: 1024px) {
    .sobre_nosotros{
        display: flex;
        flex-direction: column;
        align-items: center;
        background:linear-gradient(180deg, var(--background-azul-claro), white);
        
    }

    .sobre_nosotros__titulo{
        text-align: center;

    }
    .sobre_nosotros__texto{
        text-align: center;
        margin-right: 0;
    }
}

@media screen and (max-width: 360px) {
    .sobre_nosotros__imagen {
        max-width: 300px;
    }
}